.button {
    border-radius: 8px;
    height: 35px;
    
    border: none;
    outline: none;

    cursor: pointer;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        padding-left: 8px;
        padding-right: 8px;
    }
}